{% extends "layout1.html" %}
{% block head %}
<div id="f1h5co-feature-product" class="f1h5co-section-gray">
  <main class="page lanidng-page">
          <section class="portfolio-block block-intro">
              <div class="container">

                  <div class="about-me">
                    <h3>About Us</h3>
                      <p><strong>‘Gurukul’</strong> (under the aegis of the Navnirman Charitable Trust) came into being on 9th October,
          							 1988 when Late Shri Anantrao Shintre and his wife Smt. Anjali Shintre converted the ancestral
          							  home of the Shintre family in the village of Jambhulpada into a hostel for underprivileged
          								students to pursue their dream of obtaining education.Initially, they personally looked after 5 children, taking care of their food, clothing and shelter.</p>
                          <section class="portfolio-block photography">
                              <div class="container">
                                  <div class="row g-0">
                                    <div class="col-md-6 col-lg-4 item zoom-on-hover hide-it"><a href="#"><img class="img-fluid image" src="{{url_for('static',filename='assets/img/nature/image5.jpg')}}"></a></div>
                                    <div class="col-md-6 col-lg-4 item zoom-on-hover "><a href="#"><img class="img-fluid image" src="{{url_for('static',filename='assets/img/nature/image2.jpg')}}"></a></div>
                                    <div class="col-md-6 col-lg-4 item zoom-on-hover hide-it"><a href="#"><img class="img-fluid image" src="{{url_for('static',filename='assets/img/tech/image4.jpg')}}"></a></div>
                              </div>
                          </section>
                          <p>With passage of time, the family home proved too small and Shri Anantrao Shintre donated his own plot of land opposite the family home and, with the help of a donation from the Smt. Indirabai Behere Trust, Pune, a one-storey building was constructed on this plot of land. A further renovation and construction of a library room in the premises was undertaken with the backing of Shri Dipten Putatunda. The construction of the second storey, completed in 2020 with the contribution of the Aditya Birla Group, made Gurukul into the towering structure it is today.</p>

                          <a class="btn btn-outline-primary" role="button" href="/donate1">Contribute</a>
                  </div>
              </div>
          </section>
          <section class="portfolio-block photography">
              <div class="container">
                  <div class="row g-0">
                      <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{{url_for('static',filename='assets/img/nature/image5.jpg')}}"></a></div>
                      <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{{url_for('static',filename='assets/img/nature/image2.jpg')}}"></a></div>
                      <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{{url_for('static',filename='assets/img/tech/image4.jpg')}}"></a></div>
                  </div>
              </div>
          </section>
          <section class="portfolio-block call-to-action border-bottom">
              <div class="container">
                  <div class="d-flex justify-content-center align-items-center content">
                      <h3>Want To Help?</h3><a href="/donate1"><button class="btn btn-outline-primary btn-lg" type="button">Contribute</button></a>
                  </div>
              </div>
          </section>
          <section class="portfolio-block skills hide">
              <div class="container">
                  <div class="heading">
                      <h2>Management of Gurukul:</h2>
                      <h4><p>The management of Gurukul is carried on by a group of Trustees:</p></h4>
                  </div>

                  <div class="row hide">

                      <div class="col-md-4 mySlides">
                          <div class="card special-skill-item border-0">
                              <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                              <div class="card-body">
                                  <h3 class="card-title">Web Design</h3>
                                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mySlides">
                          <div class="card special-skill-item border-0">
                              <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                              <div class="card-body">
                                  <h3 class="card-title">Interface Design</h3>
                                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mySlides">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Photography and Print</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                      <div class="cold-md-4 hide">
                        <button class="btn btn-outline-secondary d-inline-flex align-items-center" style="float:left; position: relative;" type="button"onclick="plusDivs(-1)">&#10094;</button>
                        <button class="btn btn-outline-secondary d-inline-flex align-items-center" style="float:right; position: relative;" type="button"onclick="plusDivs(1)">&#10095;</button>
                        </div>

                  </div>

              </div>
          </section>
          <section class="portfolio-block skills hide-it">
              <div class="container">
                  <div class="heading">
                      <h2>Management of Gurukul:</h2>
                      <h4><p>The management of Gurukul is carried on by a group of Trustees:</p></h4>
                  </div>
                <div class="slideSRD">
                 <div class="row ">

                      <div class="col-md-4 ">
                          <div class="card special-skill-item border-0">
                              <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                              <div class="card-body">
                                  <h3 class="card-title">Web Design1</h3>
                                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 ">
                          <div class="card special-skill-item border-0">
                              <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                              <div class="card-body">
                                  <h3 class="card-title">Interface Design1</h3>
                                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 ">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Photography and Print1</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>


                  </div>
                  </div>
                  <div class="slideSRD">
                  <div class="row ">

                      <div class="col-md-4 ">
                          <div class="card special-skill-item border-0">
                              <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                              <div class="card-body">
                                  <h3 class="card-title">Web Design2</h3>
                                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 ">
                          <div class="card special-skill-item border-0">
                              <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                              <div class="card-body">
                                  <h3 class="card-title">Interface Design2</h3>
                                  <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 ">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Photography and Print2</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>


                  </div>
                  </div>
                  <div class="row hide-it">
                    <div class="cold-md-4">
                      <button class="btn btn-outline-secondary d-inline-flex align-items-center" style="float:left; position: relative;" type="button"onclick="plusDivs1(-1)">&#10094;</button>
                      <button class="btn btn-outline-secondary d-inline-flex align-items-center" style="float:right; position: relative;" type="button"onclick="plusDivs1(1)">&#10095;</button>
                      </div>
                  </div>

              </div>
          </section>
 <!--<div class="cold-md-4 hide">
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>-->
      </main>
      <script>


      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        if (window.matchMedia("(max-width: 767px)")){
        var x = document.getElementsByClassName("mySlides");}
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
      }


      var slideIndex1 = 1;
      showDivs1(slideIndex1);

      function plusDivs1(n) {
        showDivs1(slideIndex1 += n);
      }

      function showDivs1(n) {
        var i;

          var x = document.getElementsByClassName("slideSRD");


        if (n > x.length) {slideIndex1 = 1}
        if (n < 1) {slideIndex1 = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        x[slideIndex1-1].style.display = "block";
      }


      </script>



	{% endblock %}
