{% extends "layout.html" %}
{% block body %}
		<div id="f1h5co-feature-product" class="f1h5co-section-gray">
			<div class="c1ontainer">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>How we started.</h3>
						<p>‘Gurukul’ (under the aegis of the Navnirman Charitable Trust) came into being on 9th October,
							 1988 when Late Shri Anantrao Shintre and his wife Smt. Anjali Shintre converted the ancestral
							  home of the Shintre family in the village of Jambhulpada into a hostel for underprivileged
								students to pursue their dream of obtaining education.
							 Initially, they personally looked after 5 children, taking care of their food, clothing and shelter.</p>
							 <p>With passage of time, the family home proved too small and Shri Anantrao Shintre donated his own plot of land opposite the family home and, with the help of a donation from the Smt. Indirabai Behere Trust, Pune, a one-storey building was constructed on this plot of land. A further renovation and construction of a library room in the premises was undertaken with the backing of Shri Dipten Putatunda. The construction of the second storey, completed in 2020 with the contribution of the Aditya Birla Group, made Gurukul into the towering structure it is today.</p>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-12 text-center animate-box">
						<p><img src="{{url_for('static',filename='images/cover_bg_1.jpg')}}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="{{url_for('static',filename='images/cover_bg_2.jpg')}}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="{{url_for('static',filename='images/cover_bg_3.jpg')}}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
					</div>
				</div>


			</div>
		</div>


		<div id="fh5co-portfolio">
			<div class="c1ontainer">

				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
						<h3>Our Gallery</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
					</div>
				</div>


				<div class="row row-bottom-padded-md">
					<div class="col-md-12">
						<ul id="fh5co-portfolio-list">

							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/cover_bg_1.jpg); ">
								<a href="#" class="color-3">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/cover_bg_3.jpg); ">
								<a href="#" class="color-4">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>

							<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/cover_bg_1.jpg); ">
								<a href="#" class="color-5">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
							<li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(static/images/cover_bg_3.jpg); ">
								<a href="#" class="color-6">
									<div class="case-studies-summary">
										<span>Give Love</span>
										<h2>Donation is caring</h2>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center animate-box">
						<a href="#" class="btn btn-primary btn-lg">See Gallery</a>
					</div>
				</div>


			</div>
		</div>



		<div id="fh5co-content-section" class="fh5co-section-gray ">
			<div class="">
			<div class="c1ontainer ">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Management of Gurukul:</h3>
						<p>The management of Gurukul is carried on by a group of Trustees:</p>
					</div>
				</div>
			</div>
			<div class="c1ontainer mySlides ">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_1.jpg')}}" alt="user">
							</figure>

							<div>
								<h3>Smt Anjali Shintre</h3>
								<p><span>Founder</span></p>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>

							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_2.jpg')}}" alt="user">
							</figure>
							<div>
								<h3>Shri Shrikant Vasudeo Shintre</h3>
								<p><span>Chief Trustee</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_3.jpg')}}" alt="user">
							</figure>
							<div>
								<h3>Shri Janardan Patil </h3>
								<p><span>Executive Trustee</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>

				</div>

			</div>

			<div class="c1ontainer mySlides ">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_1.jpg')}}" alt="user">
							</figure>

							<div>
								<h3>Dr. Anant Dandekar</h3>
								<p><span>Founder</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>

							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_2.jpg')}}" alt="user">
							</figure>
							<div>
								<h3>Shri Ravindra Khandagale </h3>
								<p><span>Chief Trustee</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_3.jpg')}}" alt="user">
							</figure>
							<div>
								<h3>Shri Ganesh Kanade </h3>
								<p><span>Executive Trustee</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="c1ontainer mySlides ">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_1.jpg')}}" alt="user">
							</figure>

							<div>
								<h3>Shri Aba Bahadkar </h3>
								<p><span>Founder</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>

							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_2.jpg')}}" alt="user">
							</figure>
							<div>
								<h3>Smt. Jyotsna Shintre</h3>
								<p><span>Chief Trustee</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-team text-center ">
							<figure>
								<img src="{{url_for('static',filename='images/person_3.jpg')}}" alt="user">
							</figure>
							<div>
								<h3>Shri Janardan Patil </h3>
								<p><span>Executive Trustee</span></p>
								<p> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-linkedin2"></i></a>
								<a href="#"><i class="icon-facebook3"></i></a>
							</p>
						</div>
					</div>

				</div>
			</div>

</div>
<div style="text-align:center">
<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
</div>
</div>
	{% endblock %}
