{% extends "layout1.html" %}
{% block head %}
    <!--

 -->

</header>


    <hr class="featurette-divider">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">CONTRIBUTE</h1>
      <h3 >Click on the button. It will land you to the google form.</h3>
      <p class="fs-5 text-body-secondary">Fill the google form and scan the QR present in the google form to pay.</p>
    </div>
    <div class="d-flex gap-2 justify-content-center py-5">

      <button class="btn btn-success rounded-pill px-3" type="button">CLICK HERE</button>
  <!--<button class="btn btn-primary rounded-pill px-3" type="button">Primary</button>
      <button class="btn btn-secondary rounded-pill px-3" type="button">Secondary</button>
      <button class="btn btn-danger rounded-pill px-3" type="button">Danger</button>
      <button class="btn btn-warning rounded-pill px-3" type="button">Warning</button>
      <button class="btn btn-info rounded-pill px-3" type="button">Info</button>
      <button class="btn btn-light rounded-pill px-3" type="button">Light</button>
      <button class="btn btn-dark rounded-pill px-3" type="button">Dark</button>
      <button class="btn btn-link rounded-pill px-3" type="button">Link</button>-->
    </div>

    <hr class="featurette-divider">



  {% endblock %}
